.btn {
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 2rem;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(10, 10, 10, 0.1);
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.3);
  }

  &--white {
    background-color: $color-white;
    color: rgb(29, 29, 29);
    padding: 1.5rem 4rem;
    display: inline-block;
  }

  &--black {
    background-color: rgb(29, 29, 29);
    color: $color-white;
    padding: 1.5rem 4rem;
    display: inline-block;
  }

  &--white:after {
    background-color: $color-white;
  }

  &--animated {
    animation: moveInBottom 1.5s ease-out;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
  }
}
