*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: bebas-neue, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 0.7;
  padding: 2rem;
  border-radius: 100px;
}
